<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance Tracker and Planner</title>
    <link rel="stylesheet" href="../static/css/insurance.css">
</head>

<div class="insurance_topnav">
    <a class="insurance_active" href="Home">ABC Insurance</a>
    <a href="{{ url_for('insurance_premium_cal') }}">Premimum Calculator</a>
    <a href="#claims">Claims</a>
    <a href="#claims">Renewals</a>
    <a href="#support">Support</a>

</div>

<body>
<h2>ABC Insurance</h2>
Welcome the ABC Insurance, your one stop need for all the insurance requirements!!
</body>

</html>